{% extends 'base.html' %} {% block head %}
<style>
  #submit_btn:hover {
    background-color: #a0b9dd !important;
    transition: 0.5s;
  }
</style>
{% endblock head %} {% block content %}
<div class="register-area" style="height: 80%; display: flex; justify-content: center">
  <div class="box-for-overflow" style="height: 100%; display: flex; width: 32rem; align-items: center">
    <div class="col-md-12 col-xs-12 login-blocks">
      <div id="login_box" style="text-align: center; margin-top: 2%">
        <h2
          style="
            display: inline;
            text-transform: uppercase;
            margin-bottom: 15px;
            background: transparent none repeat scroll 0% 0%;
            border-bottom: 2px solid #a08049;
            font-size: 21px;
            line-height: 30px;
          "
        >
          Register
        </h2>
      </div>
      <form action="{% url 'authentication:register'%}" method="post" id="register_form">
        {% csrf_token %}
        <div class="form-group" style="margin-top: 5%; margin-bottom: 3%">
          <input type="text" class="form-control" name="username" id="id_input" placeholder="학번" style="margin: auto" required />
        </div>
        <div class="form-group" style="margin-top: 5%; margin-bottom: 3%">
          <input type="password" class="form-control" name="password" id="password_input" placeholder="비밀번호" style="margin: auto" required />
        </div>
        <div class="form-group" style="margin-top: 5%; margin-bottom: 3%">
          <input type="text" class="form-control" name="name" id="password_input" placeholder="이름" style="margin: auto" required />
        </div>

        <div class="text-center" st>
          <input type="submit"
          value="register"
            class="btn btn-primary"
            type="button"
            id="submit_btn"
            style="
              margin-top: 1%;
              margin-bottom: 3%;
              color: #fff;
              background-color: #c2c2c2;
              border-color: #c2c2c2;
              border-radius: 5px;
              font-weight: 400;
              margin-top: 2rem;
              font-size: 19px;
            "
          >
          </button>
          <a href="/authentication/login" style="display: block; color: #d27e04; font-weight: bold; margin-bottom: 1.5rem">이전으로</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const onSubmit = () => {
    document.getElementById("register_form").submit();
  };
  document.getElementById("register_form").addEventListener(
    "keydown",

    function (event) {
      //엔터키 submit 이벤트 달기
      if (event.keyCode === 13) {
        event.preventDefault();
        document.getElementById("register_form").submit();
      }
    },
    true,
  );
</script>
{% endblock content %}
